
body {
  color:white;
  background-color: black;
  padding-top: 60px;
  text-align:center
}
h1 {
  margin-bottom: 30px
  }
.carousel-inner .item .carousel-caption {
  position:absolute;
  top: 300px
}
.carousel-indicators {
  position: absolute;
  top: 600px;
}
