     *{ margin:0; padding:0;overflow:hidden;} 
     body{
       font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
       font-weight:300;
       height:100%;
       text-align:center;
       color:#6d6e71;
     }
     h1 {
       margin:0 0 20px;
       line-height:1.1;
       font-weight: normal;
       font-size:35px;
     }
     p {
       margin:0 0 20px;
     }

    small {
      font-size:11px;
    }
    footer {
      width:300px;
      float:left;
      position:fixed;
      bottom:40px;
    }
       .photo{ 
           width:100px; 
           height:100px; 
           border-radius:110px; 
        } 
        .menu
        {
            height: 100%;
            width: 25%;
            background:white;
            position:absolute; 
            top:0px; 
            left:0px; 
            bottom:0px;
            padding-top:40px;
        }
        .frame-big
        {
            height: 100%;
            width: 75%;
            background:white;
            position:absolute; 
            top:0px; 
            left:25%;
            padding-top:0px;
        }


